.signIn{
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/logo/City.png');
  background-position: bottom right;
  background-repeat: repeat-x;
  background-size: 66%;
}
