@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans&display=swap');
/* GoogleFonts
    font-family: 'Bebas Neue', cursive;
    font-family: 'PT Sans', sans-serif;
*/

.logIn{
    margin: 0 auto;
    height: 100vh;
    min-height: max-content;
}

.logInForm{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
    margin: 18vh auto;
    width: 50vh;
}

.welcome{
    font-family: 'Bebas Neue', cursive;
    color:#43b49e;
    font-size: 3em;
    margin-bottom: 4vh;
}

.icon{
    color: rgba(128, 128, 128, 0.566);
}

.btnLogIn{
    background-color: #43b49e;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.4em;
    color:#fff;
    margin-top: 5vh;
    height: 5.5vh;
    width: 50%;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.43) 3px 3px 8px 2px;
}

input{
    border: none;
    width: 85%;
}

label{
    margin: 0 auto;
    border-bottom: gray solid;
    width: 80%;
}

.helpLogIn{
    text-align: right;
    margin-top: 2vh auto;
}

.field{
    margin: 0 auto;
}
